<%- include('./../utils/header') %>

    <!-- <a href="/admin/products/add-product">Add Products</a> -->
    <div class="custom-container">
        </h1>

        <div class="row">
            <h1>Welcome to admin dashboard</h1>
            <figure class="highcharts-figure">
                <div id="container"></div>

            </figure>

        </div>
    </div>

    <%- include('./../utils/footer') %>