<!-- Updated HTML form -->
<h1>Add Product</h1>
<form action="/admin/products/add-product" method="POST" enctype="multipart/form-data">
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" name="productName">
    <br>
    
    <label for="productCurrentPrice">Product Current Price:</label>
    <input type="number" id="productCurrentPrice" name="productCurrentPrice" required>
    <br>
    <label for="productActualPrice">Product Actual Price:</label>
    <input type="number" id="productActualPrice" name="productActualPrice" required>
    <br>
    <label for="productDescription">Product Description:</label>
    <input type="textarea" id="productDescription" name="productDescription" required>
    <br>
    
    <label for="primaryImage">Primary Image:</label>
    <input type="file" id="primaryImage" name="primaryImage" accept="image/*" required>
    <br>
    
    <label for="imageGroup">Image Group (up to 3 images):</label>
    <input type="file" id="imageGroup" name="imageGroup" accept="image/*" multiple required>
    <br>
    
    <label for="category">Select Category:</label>
    <select id="category" name="category">
        <% categories.forEach(category => { %>
            <option value="<%= category._id %>"><%= category.categoryName %></option>
        <% }); %>
    </select>



    <input type="submit" value="Submit">
</form>
