<!-- Your foter content -->
<footer>
    <div class="custom-container">
        <p>&copy; 2024 My Website. All rights reserved.</p>
    </div>
</footer>
<script src="/js/highchart.js"></script>
<link rel="stylesheet" href="/css/custom.css">

</body>

</html>